---
import { GET as getTags } from "@/pages/api/v2/blog/protocols/atproto/posts/fetchAllTags";
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";
import { url } from "../../utils/url-utils";
import ButtonTag from "../control/ButtonTag.astro";
import WidgetLayout from "./WidgetLayout.astro";

const initResponse = await getTags(Astro);
const response = await initResponse.json();

let tags: [] = [];

if (response.success === true) {
	tags = response.result;
}

const COLLAPSED_HEIGHT = "7.5rem";

const isCollapsed = tags.length >= 20;

interface Props {
	class?: string;
	style?: string;
}
const className = Astro.props.class;
const style = Astro.props.style;
---
<WidgetLayout name={i18n(I18nKey.tags)} id="tags" isCollapsed={isCollapsed} collapsedHeight={COLLAPSED_HEIGHT} class={className} style={style}>
    <div class="flex gap-2 flex-wrap">
        {tags.map((t: string) => (
            <ButtonTag href={url(`/archive/tag/${t}/`)} label={`View all posts with the ${t} tag`}>
                {t}
            </ButtonTag>
        ))}
    </div>
</WidgetLayout>
